<div class="row my-2">

    <div class="col-md-6">
        <div class="input-group mt-n3">
          <span class="input-group-text bg-white border-top border-bottom border-start border-end-0" id="basic-addon2">
            <i class="fa fa-2x fa-search text-muted"></i>
          </span>
            <input type="text" class="form-control p-3 border-start-0 border-end-0" placeholder="Search name or id" aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-text border-top border-bottom border-start-0 border-end bg-white" id="basic-addon4">
             <i class="fa fa-2x fa-times text-muted"></i>
          </span>
        </div>
    </div>
    <div  class="col-md-6">
        <div class="input-group mt-n3">
          <input type="text" class="form-control p-3 border-start border-end-0 border-start border-end" placeholder="21/10/20 - 02/02/21" aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-text  border-top border-bottom bg-white" id="basic-addon1">
            <i class="fa fa-calendar fa-2x text-muted"></i>
          </span>
        </div>
    </div>

</div>
